{%extends 'base.html.twig'%}


{% block body %}
<div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="../img/coca.svg" class="logo"></img>
    </a>
      <div class="d-flex">
        <button class="btn btn-outline-success button" type="submit">Se connecter</button>
      </div>
    </div>
  </div>
</nav>

<footer>
  <div class="footer-one">
    <img src="../img/coca.svg" class="logo"></img>
  </div>
  <div class="footer-deux">
    <p>Game by Adverball's Team</p>
  </div>
</footer>
    
</div>

{% endblock %}