body {
    font-family: 'Montserrat', sans-serif;
  }

/* Header */

.navbar{
    background-color: black;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    height: 68px;
    
}
.navbar a{
    color: white!important;
}
.button{
    border-color: white!important;
    color: white!important;
}
.button:hover{
    background-color: #F70000 !important;
    border-color: #F70000!important;
}

.logo{
    max-height: 2.25rem;
}
.navbar-brand{
    margin: 0 auto;
}


/* Home page */

.first{
    display: flex;
    padding-top: 68px;
    
}
h1{
    margin-bottom: 20Px;
    text-transform: uppercase;
    font-weight: 800;
}
.img-cadeaux{
    width: 100%;
}
.one{
    width: 50%;
}
.two{
    width: 50%;
    padding: 50Px;
    padding-top: 100Px;
}
/* FOOTER */
footer{
    height: 167px;
    background-color: black;
    padding: 30px;
    color: white;
}
.footer-one{
    margin-bottom: 10px;
}
.footer-one, .footer-deux{
    display: flex;
    justify-content: center;
}
.btn1{
    background-color: #F70000 !important;
    color: white;
}

.btn1:hover{
    background-color: white !important;
    color: #F70000!important;
    border-color: #F70000!important;
}
/* FORM */
form{
    width: 480Px;
}

input{
    width: 480Px;
    margin-bottom: 10px;
    padding: 3Px;
}

select{
    margin-bottom: 30px;
    width: 480Px;
    margin-bottom: 30px;
    padding: 3Px;
    
}