{% extends 'base.html.twig' %}

{% block title %}Edit Family{% endblock %}

{% block body %}
    <h1>Modifier la famille</h1>

    {{ include('family/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('family_index') }}">Retour à la liste</a>

    {{ include('family/_delete_form.html.twig') }}
{% endblock %}
