



{% extends 'base.html.twig' %}
{% block body %}
    <div>

        <div class="first">
            <div class="one">
                <img src="{{ asset('images/coca.jpg')}}" alt="coca-foot" class="img-cadeaux">
            </div>
            <div class="two">
                <div class="titre">
                    <h1>Joue et tente de gagner des lots ! </h1>
                </div>

                {{ include('favorite_brand/_form.html.twig') }}

            </div>

        </div>


    </div>

{% endblock %}
